<html>
  <head>
 
  </head>
  <body><div class="area"></div><nav class="main-menu">
            <ul>
                <li>
                    <a routerLink="">
                        <i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            Dashboard
                        </span>
                    </a>
                    <i class="fa fa-american-sign-language-interpreting fa-5x" aria-hidden="true"> </i>

                </li>
                
                <li>
                    <a routerLink="">
                        <i class="fa fa-solid fa-input-text"></i>
                        
                        <span class="nav-text">
                            Text
                        </span>
                    </a>
                  
                </li>
              
            </ul>

            <ul class="logout">
                <li>
                   <a href="#">
                         <i class="fa fa-power-off fa-2x"></i>
                        <span class="nav-text">
                            Logout
                        </span>
                    </a>
                </li>  
            </ul>
        </nav>
  </body>
    </html>

                            <i class="fa fa-solid fa-input-text"></i>
