<!-- <p>url works!</p>
<div class="container">
    <div class="row">
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <h6 class="m-0 font-weight-bold text-primary">URL</h6>
            </div>
            <div class="form-group">
                <label>Taper une Url Valide </label>
                <input [(ngModel)]="url.url" type="text" class="form-control" />
                <div class="invalid-feedback">
                    <div>Url is required</div>
                </div>
            </div>
      


        <div class="container" id="htmlData">

            <h2 class="container d-flex justify-content-between ">QR-CODE</h2>

            <ngx-qrcode [elementType]="elementType" [value]="url.url" cssClass="aclass">
            </ngx-qrcode>

        </div> -->