/* Add a black background color to the top navigation */
.topnav {
    background-color:gray;
    overflow: hidden;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  color: white;
  font-weight: 600;
  background-color: gray;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  // border: 10px solid black;
  cursor: pointer;

  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  // background-color:gray;
  color: black;
}

/* Add a color to the active/current link */
.topnav a.active {
  background-color: gray;
  color: black;
}
.topnav a.active:hover{
  // background-color: black;
  color: white;
}

/* Right-aligned section inside the top navigation */
.topnav-right {
  float: right;
}
