<div class="">
    <div [ngClass]="this.form.border">
<div [ngClass]="this.form.style">
    <h1>{{form.title}}</h1>
    <h1>{{form.category}}</h1>
    <div *ngFor="let item of form.items">
        <div class="form-group">

            <label class="col-md-4"> {{item.label}} </label>

            <div *ngIf="item.type ==='EmailInput' ">
                <label class="form-control " >{{item.value}}</label>
            </div>
        </div>

            <div *ngIf="item.type ==='PhoneInput' ">
                <label class="form-control" >{{item.value}}</label>
            </div>

            <!-- <div *ngIf="item.type ==='AddressInput' ">
                <label class="form-control" >{{item.value}}</label>
            </div> -->

            <div *ngIf="item.type ==='TextInput' ">
                <label class="form-control" >{{item.value}}</label>
            </div>

            <div class="d-flex justify-content-center">
                <google-map *ngIf="item.type ==='AddressInput' " height="150px" width="250px" [center]="center"
                    [zoom]="zoom" (mapClick)="moveMap($event)" (mapMousemove)="move($event)">
                </google-map>
            </div>
        </div>

    </div>
</div>
</div>


