
  .title{
    text-align: center;
    color: hwb(327 8% 11%);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 20px;
  // background-color: gray;
  background: transparent;
  border-color:transparent ;
  }

  .TextInput{
    text-align: center;
    color:rgb(54, 35, 231);
    background:transparent;
    border-color:transparent ;
  }
  .PhoneInput{
    text-align: center;
    color:rgb(54, 35, 231);
    background:transparent;
    border-color:transparent ;
  }

