





<div class="sidenav">
    <div class="d-flex justify-content-center">

    <button class="btn btn-primary justify-content-sm-center btn-lg" (click)="saveOrUpdate()">SAVE</button>
    </div>
    <ul class="">
       

        <li>
            <a (click)="add('TextInput')">
                <i class="fa fa2 fa-solid fa-font"></i>

                <span class="nav-text">
                    Text
                </span>
            </a>

        </li>
        <li>
            <a (click)="add('EmailInput')">
                <i class="fa fa2 fa-solid fa-at"></i>
                <span class="nav-text">
                    Email
                </span>
            </a>

        </li>
        <li>
            <a (click)="add('PhoneInput')">
                <i class="fa fa2 fa-solid fa-phone"></i> <span class="nav-text">
                    Phone
                </span>
            </a>

        </li>

        <li>
            <a (click)="add('AddressInput')">
                <i class="fa fa2 far fa-map"></i> <span class="nav-text">
                    Adress
                </span>
            </a>

        </li>


    </ul>
    <ul>
        <li *ngFor="let style of styles" style="padding: 10px;display:inline-block ">
            <div (click)="selectClass(style.class)" class="" [ngClass]="style.class"
                style=" border-style: solid ;width: 2rem;height : 2rem">
            </div>
            <br>
        </li>
    </ul>
<h1>#################</h1>
<ul>
    <li *ngFor="let border of borders" style="padding: 10px;display:inline-block ">
        <div (click)="selectBorder(border)" class="" [ngClass]="border"
            style=" border-style: solid ;width: 2rem;height : 2rem">
        </div>
        <br>
    </li>
</ul>

</div>


<div class="main">
<div [ngClass]="this.form.border">
<div [ngClass]="this.form.style">
    <h1>{{form.title}}</h1>
    <h1>{{form.category}}</h1>
    <div *ngFor="let item of form.items">
        
        <div *ngIf="item.type ==='EmailInput' " class="input-group mb-3">
            <div class="input-group-prepend">
              <span (click)="remove(item.label)" class="input-group-text" id="basic-addon1">{{item.label}}</span>
            </div>
            <input [(ngModel)]="item.value" type="text" class="form-control" placeholder="{{item.label}}" aria-label="Username" aria-describedby="basic-addon1">
          </div>

      
           

        <div *ngIf="item.type ==='PhoneInput' " class="input-group mb-3">
            <div class="input-group-prepend">
              <span (click)="remove(item.label)" class="input-group-text" id="basic-addon1">{{item.label}}</span>
            </div>
            <input [(ngModel)]="item.value" type="text" class="form-control" placeholder="{{item.label}}" aria-label="Username" aria-describedby="basic-addon1">
          </div>
       
          <div *ngIf="item.type ==='AddressInput' " class="input-group mb-3">
            <div class="d-flex justify-content-center">
                <google-map *ngIf="item.type ==='AddressInput' " height="250px" width="250px" [center]="center"
                    [zoom]="zoom" (mapClick)="moveMap($event)" (mapMousemove)="move($event)">
                </google-map>
            </div>
          </div>

         



            <div *ngIf="item.type ==='TextInput' " class="input-group mb-3">
                <div class="input-group-prepend">
                  <span (click)="remove(item.label)" class="input-group-text" id="basic-addon1">{{item.label}}</span>
                </div>
                <input [(ngModel)]="item.value" type="text" class="form-control" placeholder="{{item.label}}" aria-label="Username" aria-describedby="basic-addon1">
              </div>
    

     
    </div>




</div>



</div>
</div>
<ng-template #qrCode let-close="close">
    <div class="modal-header">
        {{activeUrl}}
    </div>
    <div class="modal-body">
        <qrcode [qrdata]="activeUrl" [width]="400" [errorCorrectionLevel]="'M'"></qrcode>
    </div>
    <div class="modal-footer">

    </div>
</ng-template>