.fa-2x {
    font-size: 2em;
    }
    .fa2 {
    position: relative;
    width: 60px;
    height: 36px;
    text-align: center;
    vertical-align: middle;
    font-size:40px;
    }
    

    
    

