/* You can add global styles to this file, and also import other style files */

// .base {
//     display: flex;
//     flex-direction: column;
//     justify-content: center;
//     align-items: center;
//     flex-wrap: wrap;
//     height: 100vh;
//     width: 100vw;
//     margin: -8px;
//     padding-top: 1vh;
// }




// .border {
//   padding: 20px;
//   margin: 10px auto;
//   line-height: 3;
//   /*background-color: #f66;*/
//   /*background-clip: padding-box;*/
//   /* use instead : */
//   background:linear-gradient(rgb(170, 170, 165),rgb(65, 94, 62)) no-repeat center center;
//   background-size: calc(100% + 20px)  calc(100% + 20px);
//   text-align: center;
//   /* border-related properties */
//   // border: 20px solid black;  
 
  
// }

// .border1 {
  //   padding: 20px;
    //   margin: 10px auto;
    //   line-height: 3;
    //   /*background-color: #f66;*/
    //   /*background-clip: padding-box;*/
    //   /* use instead : */
    //   background:linear-gradient(rgb(255, 255, 255),rgb(0, 0, 0)) no-repeat center center;
    //   background-size: calc(100% + 20px)  calc(100% + 20px);
    //   text-align: center;
    //   /* border-related properties */
    //   // border: 20px solid black;  
    
    
    // }
  // .border2 {
  //   padding: 20px;
  //   margin: 10px auto;
  //   line-height: 3;
  //   /*background-color: #f66;*/
  //   /*background-clip: padding-box;*/
  //   /* use instead : */
  //   background:linear-gradient(rgb(218, 23, 23),rgb(21, 63, 204)) no-repeat center center;
  //   background-size: calc(100% + 20px)  calc(100% + 20px);
  //   text-align: center;
  //   /* border-related properties */
  //   // border: 20px solid black;  
   
    
  // }
  // .border3 {
  //   padding: 20px;
  //   margin: 10px auto;
  //   line-height: 3;
  //   /*background-color: #f66;*/
  //   /*background-clip: padding-box;*/
  //   /* use instead : */
  //   background:linear-gradient(rgb(107, 19, 189),rgb(65, 65, 68)) no-repeat center center;
  //   background-size: calc(100% + 20px)  calc(100% + 20px);
  //   text-align: center;
  //   /* border-related properties */
  //   // border: 20px solid black;  
   
    
  // }
  // .border4 {
  //   padding: 20px;
  //   margin: 10px auto;
  //   line-height: 3;
  //   /*background-color: #f66;*/
  //   /*background-clip: padding-box;*/
  //   /* use instead : */
  //   background:linear-gradient(rgb(119, 7, 7),rgb(0, 0, 0)) no-repeat center center;
  //   background-size: calc(100% + 20px)  calc(100% + 20px);
  //   text-align: center;
  //   /* border-related properties */
  //   // border: 20px solid black;  
   
    
  // }
  // .border5 {
  //   padding: 20px;
  //   margin: 10px auto;
  //   line-height: 3;
  //   /*background-color: #f66;*/
  //   /*background-clip: padding-box;*/
  //   /* use instead : */
  //   background:linear-gradient(rgb(255, 38, 0),rgb(255, 255, 255)) no-repeat center center;
  //   background-size: calc(100% + 20px)  calc(100% + 20px);
  //   text-align: center;
  //   /* border-related properties */
  //   // border: 20px solid black;  
   
    
  // }
  // .border6 {
  //   padding: 20px;
  //   margin: 10px auto;
  //   line-height: 3;
  //   /*background-color: #f66;*/
  //   /*background-clip: padding-box;*/
  //   /* use instead : */
  //   background:linear-gradient(rgb(243, 18, 149),rgb(255, 255, 255)) no-repeat center center;
  //   background-size: calc(100% + 20px)  calc(100% + 20px);
  //   text-align: center;
  //   /* border-related properties */
  //   // border: 20px solid black;  
   
    
  // }
  // .border7 {
  //   padding: 20px;
  //   margin: 10px auto;
  //   line-height: 3;
  //   /*background-color: #f66;*/
  //   /*background-clip: padding-box;*/
  //   /* use instead : */
  //   background:linear-gradient(rgb(251, 255, 0),rgb(20, 192, 4)) no-repeat center center;
  //   background-size: calc(100% + 20px)  calc(100% + 20px);
  //   text-align: center;
  //   /* border-related properties */
  //   // border: 20px solid black;  
   
    
  // }
  .width10{
    width: 1000px;
  }
  .width9{
    width: 900px;
  }
  .width8{
    width: 800px;
  }
  .width7{
    width: 700px;
  }
  .width6{
    width: 600px;
  }
  .width5{
    width: 500px;
  }
  .width4{
    width: 400px;
  }
  .width3{
    width: 300px;

  }
  


///// carte mariage
  .style1 {
    width:500px;
    display:grid;
    overflow: hidden;
 background-image: url("https://freedesignfile.com/upload/2014/04/Creative-scroll-paper-background-vector-set-14.jpg");
  }
  
  .style2 {
    
    width: 500px;
    display:grid;
    overflow: hidden;
    background-image:url('https://media.istockphoto.com/vectors/retro-delicate-wedding-card-with-pink-watercolor-texture-and-flowers-vector-id1294181713?k=20&m=1294181713&s=612x612&w=0&h=DDI5NgivZ3IfStpbiXqiPpkII92KlGnEG8-FSUry3aY=')
    
  }
  /////// menu restou
  .style3 {
    width:280px;
    display:grid;
    overflow: hidden;
 background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSsFmdVdkfB_sCoEVQcAHOdyMn1rrE_AZ1kYQ&usqp=CAU");
  }
  .style4 {
    width: 400px;
    display:grid;
    overflow: hidden;
    background-image: url("https://github.com/Afarah92/the-rosa-restuarant/blob/master/the%20rosa%20wesite/img/hero.jpg?raw=true");
  }
  .style5 {
    width: 600px;
    display:grid;
    overflow: hidden;
    background-image:url("http://food.fnr.sndimg.com/content/dam/images/food/fullset/2016/7/22/2/FNM090116_Grilled-Surf-and-Turf_s4x3.jpg.rend.hgtvcom.616.462.suffix/1469254934512.jpeg");
  }
  ///////patient az
  .style6 {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
  }
  
  ////////Cartevisite
  .style8 {
    width:800px;
    height:450px;
    display:grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr;
    // border:5px solid black;
    border-radius:5%;
    background-image:url(https://www.finnlog-blockhaus.de/wp-content/uploads/2019/04/Moderne-Holzvillen-Draco-Blockhaus-mit-Terrasse-und-Garten-1.jpg);;
  };
  .style9 {
    width:800px;
    height:450px;
    display:grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr;
    // border:5px solid black;
    border-radius:5%;
    background-image:url(https://etic-informatique.fr/wp-content/uploads/etic-informatique-reparation40.jpg);;
  };

  .style10 {
    width:800px;
    height :450px;
    display:grid;
    // grid-template-columns: 1fr 1fr 1fr;
    // grid-template-rows: 1fr 1fr 1fr;
    // border:5px solid blanchedalmond;
    border-radius:5%;
    background-image:url(https://miro.medium.com/max/1200/1*4BIGTY604aR0LT0h1DcQEw.png);
    
  
  };





// /* Importing Bootstrap SCSS file. */
// @import '~bootstrap/scss/bootstrap';




