<nav  *ngIf="logged" class="navbar navbar-expand-lg " style="background-color: whitesmoke;cursor: pointer;">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      
      <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
       
        <li class="nav-item">
          <a routerLink="/editor/" class="nav-link "  style="font-weight: 600;color: black">Form Liste</a>
        </li>
        
      </ul>
      
     
    </div>
  </div>
</nav>



<div class="form-inline my-2 my-lg-0">
    <input [(ngModel)]="searchWord"  (input)="search()" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="text-align: center; height:60px ;font-weight: 500; color: black;">
</div>
<div class="row" >

<div class="col-sm-3" *ngFor="let form of forms">
  
    <div class="card" style=" width: 18rem;height: 10rem; color: rgb(63, 173, 19);">
        <div class="card-body " ngClass="{{form.style}}" style=" width: 18rem;height: 10rem;" >
          <h5 class="card-title">{{form.category}}</h5>
          <p class="card-text">{{form.title}}</p>
          <button [routerLink]="['visitor', form.id]"  class="btn btn Light link" style="background-color: rgba(196, 173, 173, 0.753);">Acceder</button>
        </div>
      </div>
    
    </div>
</div>