
<!-- ////////////////////////////// issam ////////////////////////////// -->
<!-- navbar -->
<nav class="navbar navbar-expand-lg " style="background-color: whitesmoke;cursor: pointer;">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
        
        <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
         
          <li class="nav-item">
            <a routerLink="/editor/forms/0" class="nav-link "  style="font-weight: 600;color: black">Add New Form</a>
          </li>
          
        </ul>
        
       
      </div>
    </div>
  </nav>
  <div class=" container d-flex justify-content-center">

  <div class="col-lg-12 grid-margin ">
    <div class="card">
      <div class="card-body">
        <h4 class="card-title">Liste des Formulaires</h4>
       

<!-- <table style="  box-shadow: 10px 10px orange;"  class="table table-striped table-bordered border-primary table-responsive"> -->
<table class="table">
    <!-- <thead  class="table-dark"> -->
    <thead >
      <tr style="text-align: center;">
        <th  scope="col">#</th>
        <th scope="col">Name</th>
        <th  scope="col">Category</th>
        <th scope="col">QRCode</th>
        <th scope="col">Visitor</th>
        <th scope="col">actions</th>
      </tr>
    </thead>
    <tbody>
        <tr style="text-align: center;" *ngFor="let form of forms  let index=index">
        <td>
             {{index+1}}
        </td>
        <td>
            {{form.title}}
        </td>
        <td>{{form.category}}</td>
       
        <td> <i  (click)="getQrCode(form.id)" class="fa fa2 fa-solid fa-qrcode fa-3x d-flex justify-content-center"></i> </td>
       
        <td> <i  routerLink="/visitor/{{form.id}}" class="fa fa2 fa-solid fa-qrcode fa-3x d-flex justify-content-center"></i> </td>
      
        <td>     
             
           <i   routerLink="/editor/forms/{{form.id}}" >
            <img style="width:2.5em; height: 2.5em; "   src="assets/img/edit.png " alt="">
           </i>  
            <i (click)="deleteByFormID(form.id)" >
              <img style="width:2.5em; height: 2.5em; "   src="assets/img/delete.png " alt="">
            </i> 
          </td>
        
        
        </tr>
        
        </tbody>

  </table>
</div>
</div>
</div>
  </div>
  <ng-template #qrCode let-close="close">
    <!-- <div class="modal-header">
        {{activeUrl}}
    </div> -->
    <div class="modal-body">
        <qrcode (qrCodeURL)="loadQrCode($event)"  [qrdata]="activeUrl" [width]="400" [errorCorrectionLevel]="'M'"></qrcode>
    </div>
    <div class="modal-footer">

    </div>
</ng-template>